<div>
  <strong>Que :</strong> <%= question.question %><br>
  <strong>Ans :</strong> <span id="answer-text"><%= question.answer %></span><br>
  <button type="button" id="answer-speak-btn" class="btn btn-primary me-2">Speak Answer</button>
</div>



